@font-face {
    font-family: Metropolis-Bold;
    src: url(../assets/Metropolis-Bold.otf);
}
@font-face {
    font-family: Metropolis-Medium;
    src: url(../assets/Metropolis-Medium.otf);
}

body {
    background-color: #BFB5AF;
    color: #333;
    margin: 0 10%;
}
h1 {
    font-family: 'Metropolis-Bold';
    margin: 80px 0px 0px 0px;
    text-align: center;
    font-size: 55px;
}
p {
    font-family: 'Metropolis-Medium';
    text-align: center;
    font-size: 18px;
} p:nth-child(2) { margin-bottom: 80px; }
div {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    gap: 15px;
}
img {
    border-radius: 23px;
    transition: 0.3s;
    width: 360px;
} img:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 6px 3px #333;
}
@media screen and (max-width: 960px) {
    body { margin: 0 4%; }
}
@media screen and (max-width: 426px) {
    body { margin: 0; }
    img { width: 330px; }
}
@media screen and (max-width: 360px) {
    h1 { font-size: 48px; }
    img { width: 300px; }
}